@page "/Notices/ManageBy"

<h3>ManageBy</h3>

<h4>기본</h4>
<ReplyApp.Pages.Notices.Manage></ReplyApp.Pages.Notices.Manage>

<h4>3번 부모 관련</h4>
<ReplyApp.Pages.Notices.Manage ParentId="3"></ReplyApp.Pages.Notices.Manage>
