@page "/"
@namespace ReplyApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReplyApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    <script src="_content/MatBlazor/dist/matBlazor.js"></script>

    <!-- Reference the included moment.js javascript file. -->
    <script src="_content/ChartJs.Blazor/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>

    <!-- Reference the included ChartJs javascript file. -->
    <script src="_content/ChartJs.Blazor/Chart.min.js" type="text/javascript" language="javascript"></script>

    <!-- This is the glue between the C# code and the ChartJs charts -->
    <script src="_content/ChartJs.Blazor/ChartJsBlazorInterop.js" type="text/javascript" language="javascript"></script>

    <!-- Some styling -->
    <link rel="stylesheet" href="_content/ChartJs.Blazor/ChartJSBlazor.css" />

    <script src="_content/BlazorInputFile/inputfile.js"></script>

    <script src="_content/BlazorUtils/saveAsFile.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    @*jQuery와 Bootstrap은 참고용으로 삽입*@
    <script src="/lib/jquery.js"></script>
    <script src="/lib/dist/js/bootstrap.js"></script>

    <script>
        // 넘어온 ID를 갖는 모달 창 닫기
        function closeModal(modalId) {
            //console.log("삭제");
            $("#" + modalId).modal('hide');
        }
        // 넘어온 ID를 갖는 모달 창 열기
        function showModal(modalId) {
            $("#" + modalId).modal('show');
        }
    </script>
</body>
</html>
