@page "/Uploads/ManageBy"

<h3>ManageBy</h3>

<h4>127dfd41-2a0b-42bd-8e35-c4d63e97f04c 부모 관련</h4>
<ReplyApp.Pages.Uploads.Manage ParentKey="127dfd41-2a0b-42bd-8e35-c4d63e97f04c"></ReplyApp.Pages.Uploads.Manage>

